/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*
{
    font-family:Arial, Helvetica, sans-serif;
}

/* GENERAL */

main{
    background-color: aquamarine;
    height: 100vh;
}
.container{
    display: flex;

}



#form{
    text-align: center;
    display: flex;
    justify-content: center;
}

#umano{
    padding: 10px;
    border: 1px solid black;
    margin-right: 5px;
    
}


#robot{
    padding: 10px;
    border: 1px solid black;

    
}